.content-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(18, 51, 15, 0.3);
  padding: 1rem;
}
.mat-card-header{
  background-color: #b6b1b1;
  display: flex;
  justify-content: space-between;
  position: relative;
h2{
  margin: 0;

}

  button{
    background-color: #b6b1b1;
    position: absolute;
    right: 5px;
    top: 10px;
    border: none;
    cursor: pointer;
  }
}

.mat-mdc-dialog-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.radio-btn{
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;

}
.additional-block{
  width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 2px solid #d3f1d4;
    padding: 1rem;
    position: relative;
    margin-block: 1rem;
    color: black;
    p{
      position: absolute;
      top: -0.6rem;
      background-color: #fff;
    }


}

.input-text{
  input{
    padding: 1rem;
  }
}
.no-bg{
  background: none;
  border: none;
}
.option-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn-main{
  background-color: #d3f1d4;
  padding: 0.5rem;
}
.border{
  border: 2px solid #d3f1d4;
  padding: 1rem;
  position: relative;
  margin-block: 1rem;
  color: black;
  p{
    position: absolute;
    top: -0.6rem;
    background-color: #fff;
  }
}

